<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">SMN HelpDesk</a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Chamado")"><i class="fas fa-bullhorn"></i> Chamados</a></li>
            <li><a href="@Url.Action("Index", "Chamado")"><i class="fas fa-clipboard-list"></i> Relátorios</a></li>
            <li>
                <a href="@Url.Action("Index", "Chamado")" id="btn-1" data-toggle="collapse" data-target="#submenu1"
                   aria-expanded="false"><i class="fas fa-users"></i> Clientes</a>

                <ul class="nav-link collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                    <li><a class="ml-lg-5" href="@Url.Action("Index", "Chamado")">Empresas</a></li>
                    <li><a class="ml-lg-5" href="@Url.Action("Index", "Chamado")">Funcionários</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Chamado")"><i class="fas fa-user-ninja"></i> Colaboradores</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>SMN HelpDesk</h1>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-bars"></i></a>
        </div>
    </div>
</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        if ($("#btn-1").attr("aria-expanded") === "true") {
            $("#btn-1").trigger("click");
        }
        $("#wrapper").toggleClass("toggled");
    });
</script>
